*{
    margin:0;
    font-family: Arial;
    border:border-box;
    border: none;
}
.navbar{
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
.border{
    border: 1px solid transparent;
}
.border:hover{
        border:1px solid white;
    }
/* box1 */
.navlogo{
    height:40px;
    width:140px;
    padding:13px 4px 5px 3px;
}
.logo{
    height:45px;
    width:100%;
    background-image: url("amazon_logo.jpg");
    background-size: cover;

    

}
/* box2 */
.navadress{
    height: 40px;
    width: 75px;
    padding: 10px 4px 6px 9px;
    border: 1px solid  transparent;
    text-align: center;
}
.add-icon{
    display: flex;
    align-items: center;
}
.adress{
   color: #cccccc;
   font-size: 0.80rem;
   margin-left: 18px;

}
/* box3 */
.navsearch{
    height:40px;
    width:395px ;
    overflow: hidden;
    display: flex;
    border: 1px solid transparent;
}
.navsearch:hover{
    border:2px solid orange;
    border-radius: 6px;
}
.search-select{
    background-color: #f3f3f3;
    height: 40px;
    width:45px ;
    padding-left: 5px;
    color: #0f1111;
    border-color: transparent;
    border-right-color:#cbc5c5;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.input-search{
    width: 340px;
    padding: 6px 8px 8px 2px;
    border: none;
    font-size:16px ;
}
.icon-button{
    background-color: orange;
    border-color: transparent;
    border-top-right-radius:4px ;
    border-bottom-right-radius: 4px;
    font-size: 1.3rem;
}
/* box4 */
.language{
   height: 50px;
   padding:  0px 6px 5px 7px;
   display:flex;
   justify-content: center;
   align-items: center;
}
.lang{
    background-color: black;
    color: white;
    font-weight:bolder;
    border: none;
}
/* box5 */
.signin{
     height: 40px;
    padding: 10px 4px 6px 9px;
    width: 140px;
    background-color: black;
    text-align: left;
   
}
#signin{
   font-size: 12px; 
}
#Account{
    background-color: black;
    border: none;
    font-size: 15px;
    font-weight: bolder;
    color: white;

}
/* box6 */
.return-order{
     height: 40px;
    padding: 10px 4px 6px 9px;
    background-color: black;
    text-align: left;
}
#return{
font-size: 12px;
}
#order{
font-size: 15px;
font-weight: bolder;
}
/* box7 */

.shop{
    width: 50px;
     height: 40px;
    padding: 10px 4px 6px 9px;
    text-align: center;
    font-size: 1.2rem;
    color: rgb(218, 146, 10);
}
#cart{
    font-size: 10px;
    color: white;
    font-weight: bolder;
}
/* pannel */
.pannel{
    background-color: #1b3030;
    height: 40px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    

}
.pannel-all{
    height:21px;
    margin-left:6px;
    margin-right: 6px;
    padding: 9px 9px 8px 12px;
    font-weight: 800;
    font-size: 16px;
    
}
#menu-icon{
    font-size: 1.2rem;
}
.deals{
    width: 95px;
    height:20px;
    margin-left:6px;
    margin-right:6px;
    padding: 10px 2px 7px 12px;
    font-size: 14px;
   
}
.prime-video{
    width: 95px;
    height:20px;
    padding: 10px 2px 7px 12px;
    font-size: 14px;
}
.registry{
    width: 65px;
    height:20px;
     margin-left:6px;
    margin-right: 6px;
    padding: 10px 2px 7px 12px;
    font-size: 14px; 
}
.service{
    width: 120px;
    height:20px;
     margin-left:6px;
    margin-right: 6px;
    padding: 10px 2px 7px 12px;
    font-size: 14px;
}
.gift{
    width: 75px;
    height:20px;
     margin-left:6px;
    margin-right: 6px;
    padding: 10px 2px 7px 12px;
    font-size: 14px;  
}
.sell{
   width: 40px;
    height:20px;
     margin-left:6px;
    margin-right: 6px;
    padding: 10px 2px 7px 12px;
    font-size: 14px;    
}
/* hero-section */
.hero-section{
    height:400px;
    background-image: url("herosectionreal_image.jpg");
    background-size:cover;
    margin-left:1px ;
    margin-right:1px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heromsg{
    height: 40px;
    width: 90%;
    color: #0f1111;
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    position: absolute;
    top: 380px;
}
.heromsg a{
    color: rgb(26, 26, 206);
}
/* shop */
.shop-section{
    background-color: #f3f357;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box{
    height:400px;
    width:20%;
    padding: 5px;
    background-color: white;
    margin: 5px 5px 20px 2px;
}
.heading{
    font-size: 20px;
    font-weight: 700;
    padding: 3px 10px;
}
.bottom{
    color:rgb(26, 26, 206);
    font-size: 14px;
    padding: 5px 10px;
}
.img{
    height: 300px;
    margin: 5px 10px 25px 10px;
}
.img1{
    background-image:url("box1.png");
    background-size:cover;
}
.img2{
    background-image:url("box2.png");
    background-size: cover;
}
.img3{
    background-image: url("box3.png");
    background-size: cover;
}
.img4{
    background-image: url("box4.png");
    background-size: cover;
}
.img5{
    background-image :url("box5.png");
    background-size: cover;
}
.img6{
    background-image :url("box6.png");
    background-size: cover;
}
.img7{
    background-image: url("box7.png");
    background-size: cover;
}
.img8{
    background-image :url("box8.png");
    background-size: cover;
}
.footer-pannel{
    color: #FFFFFF;
    height: 50px;
    background-color: #37475a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    margin-top: 15px;

}
.footer-pannel-2{
    height: 390px;
    color: white;
    background-color:#2a3848;
    display: flex;
    justify-content: space-evenly;
}
.footer-pannel-2 p{
   font-size: 16px;
   font-weight: 700; 
   height: 43px;
   margin-top: 40px;

}  
.footer-pannel-2 a{
   display: block; 
   font-size: 14px;
   color: #c1c0c0;
   margin-top: 15px;
   margin-bottom: 15px;
}  
.pannel-3{
    height: 60px;
    background-color:#2a3848;
    padding:20px;
    border-top: 0.50px solid #c1c0c0;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.footer-logo{
    height: 60px;
    width: 120px;
     background-image: url("ama-logo.png");
     background-size: cover;
}
.pannel4{
    background-color:rgb(29, 25, 25);
    height: 70px;
    color:#c1c0c0;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright{
    display: flex;
    justify-content: center;
}